.footer-container__logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-text-color);

    text-decoration: none;
}

.footer-container__logo-down {
    color: var(--accent-secondary-text-color);
}